Vagrantfile
*TAGS
.vagrant/*
*.deps/*
*.libs/*
*.o
*.lo
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
depcomp
configure
install-sh
libtool
m4/
missing
stamp-h1
ltmain.sh
tests/check_parser
tests/.deps/
tests/.libs/
src/.deps/
src/.libs/
src/libsyslogparser.la
src/main
src/parser
src/send_msg
src/parser.c